:host {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  padding: 20px 10px;
}

.stats-card {
  flex-wrap: wrap;
  justify-content: center;
}

mat-card, #bar, #pie {
  flex-grow: 1;
  height: fit-content;
  margin-bottom: 15px;
  width: 100%;
  min-width: 20%;
}

#pie {
  margin-bottom: 0;
  text-align: center;
}

mat-card:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 637px) {
  mat-card {
    width: 35%;
    margin-left: 10px;
  }

  mat-card:nth-child(odd) {
    margin-left: 0;
  }

  mat-card:nth-child(3n) {
    margin-bottom: 0;
  }

  #bar, #pie {
    width: 48%;
    margin-bottom: 0;
  }

  #pie {
    margin-left: 10px;
  }

}

@media screen and (min-width: 1115px) {
  mat-card {
    width: 15%;
  }

  mat-card:nth-child(3n) {
    margin-left: 10px;
  }

  mat-card:nth-child(1), mat-card:nth-child(2) {
    margin-bottom: 0;
  }

}