<!-- <div>Line chart</div> -->
<div>
    <app-widget-area></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="stats-card">
    <mat-card fxFlex="22">
        <app-widget-card title="Users" total="25" percentage="3"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="22">
        <app-widget-card  title="Online" total="10" percentage="40"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="22">
        <app-widget-card  title="Sales" total="21k" percentage="56"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="22">
        <app-widget-card  title="Leads" total="1.7k" percentage="30"></app-widget-card>
    </mat-card>

</div>

<br>

<mat-divider></mat-divider>

<br>

<!-- <div>
    <div>Pie Chart</div>
    <div>Table</div>
</div> -->

<br>