<div>
  <app-widget-line></app-widget-line>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" class="stats-card">
  <mat-card>
    <app-widget-card label="New Users" total="10" percentage="{{ percent }}"></app-widget-card>
  </mat-card>
  <mat-card>
    <app-widget-card label="Existing Users" total="120" percentage="10"></app-widget-card>
  </mat-card>
  <mat-card>
    <app-widget-card label="Logged in users" total="5" percentage="0.05"></app-widget-card>
  </mat-card>
  <mat-card>
    <app-widget-card label="Idle users" total="3" percentage="60"></app-widget-card>
  </mat-card>
</div>

<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px" class="stats-card">
  <mat-card fxFlex="22">
    <app-widget-card label="New Users" total="10" percentage="{{ percent }}"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="22">
    <app-widget-card label="Existing Users" total="120" percentage="10"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="22">
    <app-widget-card label="Logged in users" total="5" percentage="0.05"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="22">
    <app-widget-card label="Idle users" total="3" percentage="60"></app-widget-card>
  </mat-card>
</div> -->

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" class="stats-card">
  <div id="bar">
    <app-widget-bar></app-widget-bar>
  </div>
  <div id="pie">
    <app-widget-pie></app-widget-pie>
  </div>
</div>

<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
  <div fxFlex="55">
    <app-widget-bar></app-widget-bar>
  </div>
  <div id="pie" fxFlex="40">
    <app-widget-pie></app-widget-pie>
  </div>
</div> -->

<!-- <br>
<br> -->
