p {
    margin: 0;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 100%;
}

.total {
    font-size: 2em;
}

.mat-icon, .description {
    color: green;
    font-size: 2em;
}

.mat-icon {
    position: relative;
    /* padding: 0 20px; */
    padding: 0 0 0 10px;
    top: 5px;
}