:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 30vw;
    min-width: 140px;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    padding: 20px;
}

@media screen and (max-width: 910px) {
    mat-drawer {
        display: none;
    }
}